# gradle
.gradle/
gradle/
gradlew
gradlew.bat

# IDE
.idea/

# output
classes/
build/
# we should eventually start to ignore bin/ for easier git management
bin/

# caches
Cache/
UraniumCache/
ColeslawCache/
