# gradle
.gradle/
gradle/
gradlew
gradlew.bat

# IDE
.idea/
IdleRSC.iml

# output
classes/
build/

# User chosen cache
Cache/

# User screenshots
Screenshots/

#please do not add bin/ to the gitignore for the time being since we are currently combining source and binary releases
